{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>Home</title>
{% endblock %}
<script src="{% static 'htmx.min.js' %}" defer></script>
{% block body %}
<h1>{{ text }}</h1>
<br>
<button hx-post="/test" hx-confirm="Are you sure?">Conform</button>


<button hx-delete="/test" hx-confirm="Are you sure you wish to delete your account?">
    Delete My Account
  </button>

<button hx-indicator="#loading" hx-get="https://fakestoreapi.com/products" hx-target="#api">Get data</button>

<span class="htmx-indicator" id="loading">
    <img src="{% static 'one.gif' %}" alt="loading...">
</span>

<div id="api"></div>
{% endblock %}